.logoutButton {
    position: absolute !important;
    /*tqop: 20px;*/
    right: 20px;
}

.findGameButton {
    position: absolute !important;
    bottom: 20px;
    left: 20px;
}

.menuButton {
    margin-right: 10px;
}
